/*GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=League+Spartan:wght@400;500;600;700&display=swap');

/*VARIABLE CSS*/
:root {
    --header-height: 4rem;

    /*COLORS*/
    /*Color mode HSL(hue, saturation, lightness) */
    --first-color:#dd4883;
    --first-color-alt:hsl(129, 44%, 94%);
    --second-color:#51b6d4;
    --title-color:hsl(0, 0%, 13%);
    --text-color:#121212;
    --text-color-light:hsl(60, 1%, 56%);
    --body-color:hsl(0, 0%, 100%);
    --container-color:hsl(0, 0%, 93%);
    --border-color:hsl(129, 36%, 85%);
    --border-color-alt:#E3E3E3; 

    /* 
    Font and typography */
    /* .5rem = 8px | 1rem = 16px */
    --body-font: 'Lato', sans-serif;
    --second-font: 'Spartan', sans-serif;
    --big-font-size: 3.5rem;
    --h1-font-size: 2.75rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.75rem;
    --h4-font-size: 1.375rem;
    --large-font-size: 1.125rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.75rem;
    --tiny-font-size: 0.6875rem;

    /*=============== Font Weight ===============*/
    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --weight-700: 700;

    /*=============== Transition ===============*/
    --transition: cubic-bezier(0, 0, 0.05, 1);
}

/*Responsive Typography*/
@media screen and (max-width: 1200px) {
:root {
    --big-font-size: ;
    --h1-font-size: ;
    --h2-font-size: ;
    --h3-font-size: ;
    --h4-font-size: ;
    --large-font-size: ;
    --normal-font-size: ;
    --small-font-size: ;
    --smaller-font-size: ;
    --tiny-font-size: ;
}
}

/*=============== BASE ===============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
textarea,
body {
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--weight-400);
    overflow-x: hidden;
}

body {
    background-color: var(--body-color);
}

h1,
h2,
h3,
h4 {
    font-family: var(--second-font);
    color: var(--title-color); 
    font-weight: var(--weight-600);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.5rem;
    color: #121212;
}

img {
    max-width: 100%;
}

button,
textarea,
input {
    background-color: transparent;
    border: none;
    outline: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    /* max-width: 1120px; */
    max-width: 1000px;
    margin-inline: auto;
    padding-inline: .75rem;
}

/* .containers {
    max-width: 1000px; 
} */



.grid {
    display: grid;
    gap: 1.5rem;
}

.section {
    padding-block: 2rem;
}

.section_lg {
    padding-block: 4rem;
}

.section_title {
    font-size: var(--h4-font-size);
    margin-bottom: 1.5rem;
    color: var(--title-color);
}

/* .section_title span */
.form_input {
    border: 1px solid var(--border-color-alt);
    padding-inline: 1rem;
    height: 45px;
    border-radius: 0.25rem;
    font-size: var(--small-font-size);
}

.form_inputs {
    border: 1px solid var(--border-color-alt);
    padding-top: 1rem;
    padding-inline: 1rem;
    height: 200px;
}

.form_container{
    max-width: 500px;
}

.new_price {
    color: var(--first-color);
    font-weight: var(--weight-600);
}

.old_price {
    color: var(--text-color-light);
    font-size: var(--small-font-size);
    text-decoration: line-through;
}

.form {
    row-gap: 1rem;
}

.form_group {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.text_area {
    height: 200px;
    padding-block: 2rem;
    resize: none;
}

/*=============== HEADER & NAV ===============*/
.header_top {
    background-color: #E3E3E3;
    /* border-bottom: 1px solid var(--first-color); */
    padding-block: 0.275rem;
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_contact span:first-child {
    margin-right: 2rem;
}

.header_contact span,
.header_alert-news,
.header_top-action {
    font-size: var(--small-font-size);
}

.header_contact {
    color: var(--title-color);
}

.header_alert-news {
    color: var(--title-color);
    font-weight: var(--weight-600);
}

.header_top-action {
    color: rgb(9, 9, 146);
}

nav,
.nav_menu,
.nav_list,
.header_user-actions {
    display: flex;
    align-items: center;
}

.nav_logo-img {
    width: 150px;
}

.nav {
    height: calc(var(--header-height) + 2.5rem);
    justify-content: space-between;
    column-gap: 1rem;
}

/* .nav_menu {
   flex-grow: 1;
    margin-left: 2.5rem;
} */

.nav_list {
    column-gap: 2.5rem;
    margin-right: auto;
}

.nav_link {
    color: var(--title-color);
    font-weight: var(--weight-700);
    transition: all 0.2s var(--transition);
}

.header_search {
    width: 340px;
    position: relative;
}

.header_search .form_input {
    width: 100%;
}

.search_btn {
    position: absolute;
    top: 24%;
    right: 1.25rem;
    cursor: pointer;
}

.header_user-actions {
    column-gap: 1.25rem;
}

.header_action-btn {
    position: relative;
}

.header_action-btn img {
    width: 24px;
}

.header_action-btn .count {
    position: absolute;
    top: -0.625rem;
    right: -0.625rem;
    background-color: var(--first-color);
    color: var(--body-color);
    height: 18px;
    width: 18px;
    line-height: 18px;
    border-radius: 50%;
    text-align: center;
    font-size: var(--tiny-font-size);
}

/*ACTIVE LINK*/
.active-link,
.nav_link:hover {
    color: var(--first-color);
}

/*=============== HOME ===============*/
/* .home {
background-image: url("../img/homebgtest.jpg") ;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
;
} */

.home_container {
    grid-template-columns: 5fr 7fr;
    align-items: center;
}

.home_subtitle,
.home_description {
    font-size: var(--large-font-size);
}

.home_subtitle {
    font-family: var(--second-font);
    font-weight: var(--weight-600);
    margin-bottom: 1rem;
    display: block;
    color: var(--second-color);
}

.home_title {
    font-size: var(--h1-font-size);
    font-weight: var(--weight-700);
    line-height: 1.4;
}

.home_title span {
    color: var(--first-color);
    font-size: var(--big-font-size);
}

.home_description {
    margin-block: .5rem 2rem;
}

.home_img {
    justify-self: flex-end;
}

/*=============== BUTTONS ===============*/
.btn {
    display: inline-block;
    background-color: var(--first-color);
    border: 2px solid var(--first-color);
    color: var(--body-color);
    padding-inline: 1.75rem;
    height: 49px;
    line-height: 49px;
    border-radius: .25rem;
    font-family: var(--second-font);
    font-size: var(--small-font-size);
    font-weight: var(--weight-700);
    transition: all 0.4s var(--transition);
}

.btn:hover {
    background-color: transparent;
    color: var(--first-color);
}

.btn-md,
.btn-sm {
    font-family: var(--body-font);
}

.btn-md {
    font-family: var(--body-font);
    height: 45px;
    line-height: 42px;
}

.btn-sm {
    height: 40px;
    line-height: 36px;
}

.flex {
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

/*=============== CATEGORIES ===============*/
.categories {
    overflow: hidden;
}

.category_item {
    text-align: center;
    border: 1px solid var(--border-color);
    padding: .625rem 0.625rem 1.25rem;
    /* border-radius: 1.25rem; */
}

.category_img {
    /* border-radius: 0.75rem; */
    margin-bottom: 1.25rem;
}

.category_title {
    color: var(--first-color);
    font-size: var(--small-font-size);
}

/*Swiper class*/
.swiper {
    overflow: initial;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: '';
}

.swiper-button-next,
.swiper-button-prev {
    top: -1.875rem;
    /* background-color: var(--first-color-alt); */
    background-color:#F0F0F0;
    border: 1px solid var(--border-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* color: var(--first-color); */
    color: var(--title-color); 
    font-size: var(--tiny-font-size);
}

.swiper-button-prev {
    left: initial;
    right: 2.5rem;
}

.swiper-button-next {
    right: 0;
}

/*=============== PRODUCTS ===============*/
.tab_btns {
    display: flex;
    column-gap: 0.75rem;
    margin-bottom: 2rem;
}

.tab_btn {
    background-color: var(--container-color);
    color: var(--title-color);
    padding: 1rem 1.25rem 0.875rem;
    border-radius: .25rem;
    font-family: var(--second-font);
    font-size: var(--small-font-size);
    font-weight: var(--weight-600);
    cursor: pointer;
}

.products_container {
    grid-template-columns: repeat(4, 1fr);
}

.product_item {
    border: 1px solid var(--border-color);
    /* border-radius: 1rem; */
    transition: all 0.2s var(--transition);
}

.product_banner {
    padding: 0.625rem 0.75rem 0.75rem;
}

.product_banner,
.product_images {
    position: relative;
}

.product_images {
    display: block;
    overflow: hidden;
    /* border-radius: 1rem; */
}

.product_img {
    vertical-align: middle;
    transition: all 1.5s var(--transition);
}

.product_item:hover .product_img {
    transform: scale(1.1);
}

.product_img.hover {
    position: absolute;
    top: 0;
    left: 0;
}

.product_action {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    display: flex;
    column-gap: 0.5rem;
    transition: all .2s var(--transition);
}

.action_btn {
    width: 40px;
    height: 40px;
    line-height: 42px;
    text-align: center;
    border-radius: 50%;
    /* background-color: var(--first-color-alt); */
    background-color: #F6E6D9;
    border: 1px solid  var(--border-color);
    color: #121212;
    font-size: var(--small-font-size);
    position: relative;
}

.action_btn::before,
.action_btn::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
}

.action_btn::before {
    content: '';
    top: -2px;
    border: .5rem solid transparent;
    border-top-color: var(--first-color);
}

.action_btn::after {
    content: attr(aria-label);
    bottom: 100%;
    background-color: var(--first-color);
    color: var(--body-color);
    font-size: var(--tiny-font-size);
    white-space: nowrap;
    padding-inline: 0.625rem;
    border-radius: 0.25rem;
    line-height: 2.58;
}

.product_badge {
    position: absolute;
    left: 1.25rem;
    top: 1.25rem;
    background-color: var(--first-color);
    color: var(--body-color);
    padding: .25rem .625rem;
    border-radius: 2.5rem;
    font-size: var(--tiny-font-size);
}

.product_badge.light-pink {
    background-color: hsl(341, 100%, 73%);
}

.product_badge.light-green {
    background-color: hsl(155, 20%, 67%);
}

.product_badge.light-orange {
    background-color: hsl(24, 100%, 73%);
}

.product_badge.light-blue {
    background-color: hsl(202, 53%, 76%);
}

.product_content {
    padding: 0 1.25rem 1.125rem;
    position: relative;
}

.product_category {
    color: var(--text-color-light);
    font-size: var(--smaller-font-size);
}

.product_title {
font-size: var(--normal-font-size);
margin-block: 0.75rem 0.5rem;
}

.product_rating {
   color: hsl(42, 100%, 50%);
   font-size: var(--smaller-font-size);
   margin-bottom: 0.75rem;
}

.product_price .new_price {
    font-size: var(--large-font-size);
}

.cart_btn {
    position: absolute;
    bottom: 1.6rem;
    right: 1.25rem;
}

/* Active Tab */
.tab_btn.active-tab {
    color: white;
    background-color: var(--second-color);
}

.tab_item:not(.active-tab) {
    display: none;
} 

/* Product Hover */
.product_img.hover,
.product_action,
.action_btn::before,
.action_btn::after, 
.product_item:hover .product_img.default {
    opacity: 0;
}

.product_item:hover {
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
}

.product_item:hover .product_img.hover,
.product_item:hover .product_action,
.action_btn:hover::before,
.action_btn:hover::after {
    opacity: 1;
}

.action_btn:hover::before,
.action_btn:hover::after {
    transform: translateX(-50%) translateY(-0.5rem);
}

.action_btn:hover {
    background-color: var(--first-color);
    border-color: var(--first-color);
    color: var(--body-color);
}

/*=============== DEALS ===============*/
.deals_container {
    grid-template-columns: repeat(2, 1fr);
}

.deals_item:nth-child(1) {
background-image: url(../img/deals-1.jpg);
}

.deals_item:nth-child(2) {
background-image: url(../img/deals-2.png);
}

.deals_item {
    padding: 3rem;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.deals_brand {
    color: var(--first-color);
    font-size: var(--h3-font-size);
    margin-bottom: .25rem;
}

.deals_category {
    font-family: var(--second-font);
    font-size: var(--small-font-size);
    color: var(--second-color) ;
}

.deals_title {
    max-width: 240px;
    font-size: var(--large-font-size);
    font-weight: var(--weight-400);
    line-height: 1.3;
}

.deals_price .new_price,
.deals_price .old_price {
    font-size: var(--large-font-size);
}

.deals_price .new_price {
    color: hsl(352, 100%, 60%);
}

.deals_countdown-text {
    margin-bottom: 0.25rem;
}

.countdown {
    display: flex;
    column-gap: 1.5rem;
}

.countdown_amount {
    position: relative;
}

.countdown_amount::after {
    content: ':';
    color: var(--title-color);
    font-size: var(--large-font-size);
    position: absolute;
    right: -25%;
    top: 20%;
}

.countdown_period {
    background-color: var(--first-color);
    color: var(--body-color);
    width: 50px;
    line-height: 50px;
    height: 50px;
    text-align: center;
    border-radius: .25rem;
    font-size: var(--large-font-size);
    font-weight: var(--weight-600);
    margin-bottom: .5rem;
}

.unit {
    font-size: var(--small-font-size);
    color: var(--second-color);
    text-align: center;
    display: block;
}

.deals_btn .btn {
    background-color: transparent;
    color: var(--first-color);
}

/*=============== NEW ARRIVALS ===============*/
.new_arrivals {
    overflow: hidden;
}

/*=============== SHOWCASE ===============*/
.showcase_container {
   grid-template-columns: repeat(4, 1fr);
}

.showcase_wrapper .section_title {
    font-size: var(--normal-font-size);
    border-bottom: 1px solid var(--border-color-alt);
    padding-bottom: .75rem;
    margin-bottom: 2rem;
    position: relative;
    color: var(--title-color);
}

.showcase_wrapper .section_title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1.3px;
    width: 50px;
    height: 2px;
    background-color: var(--first-color);
}

.showcase_item {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}

.showcase_item:not(:last-child) {
    margin-bottom: 1.5rem;
}

.showcase_img {
    width: 86px;
}

.showcase_content {
    width: calc(100% - 110px);
}

.showcase_title {
    font-size: var(--small-font-size);
    font-weight: var(--weight-500);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.5rem;
}

/*=============== NEWSLETTER ===============*/
.newsletter {
    background-color: #F6E6D9;
}

.home_newsletter {
    margin-top: 2rem;
}

.newsletter_container {
    grid-template-columns: repeat(2, 3.5fr) 5fr;
    align-items: center;
    column-gap: 3rem;
}

.newsletter_title {
    column-gap: 1rem;
    font-size: var(--large-font-size);
}

.newsletter_icon {
    width: 40px;
}

.newsletter_description {
    color: var(--title-color);
    font-family: var(--second-font);
    font-size: var(--small-font-size);
    font-weight: var(--weight-600);
}

.newsletter_form {
    display: flex;
}

.newsletter_input,
.newsletter_btn {
    font-size: var(--small-font-size);
}

.newsletter_input {
    background-color: var(--body-color);
    padding-inline: 1.25rem;
    width: 100%;
    height: 48px;
    border-radius: 0.25rem 0 0 0.25rem;
}

.newsletter_btn {
    color: var(--body-color);
    background-color:var(--title-color);
    padding-inline: 2rem;
    border-radius: 0 0.25rem 0 0 0.25rem;
    font-family: var(--second-font);
    font-weight: var(--weight-500);
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: all .3s var(--transition);
}

.newsletter_btn:hover {
    background-color: var(--first-color);
}

/*=============== FOOTER ===============*/
.footer_container {
    grid-template-columns: 4.5fr repeat(2, 2fr) 3.5fr;
    padding-block: 2.5rem;
}

.footer_logo-img {
    width: 150px;
}

.footer_subtitle {
    color: var(--text-color-light);
    font-size: var(--small-font-size);
    margin-block: 1.25rem 0.625rem;
}

.footer_description {
    margin-bottom: 0.25rem;
}

.footer_description span {
    font-weight: var(--weight-600);
}

.footer_social .footer_subtitle {
    margin-top: 1.875rem;
}

.footer_social-links {
    column-gap: 0.25rem;
}

.footer_social-icon {
    width: 20px;
    opacity: 0.7;
}

.footer_title {
    font-size: var(--large-font-size);
    margin-block: 1rem 1.25rem;
}

.footer_link {
    color: var(--title-color);
    font-size: var(--small-font-size);
    margin-bottom: 1rem;
    display: block;
    transition: all 0.3s var(--transition);
}

.footer_link:hover {
    color: var(--first-color);
    margin-left: 0.25rem;
}

.footer_bottom {
    display: flex;
    justify-content: space-between;
    padding-block: 1.25rem;
    border-top: 1px solid var(--border-color-alt);
}

.copyright,
.designer {
    color: var(--text-color-light);
    font-size: var(--small-font-size);
}

/*=============== BREADCRUMBS ===============*/
.breadcrumb {
    background-color:#F6E6D9;
    padding-block: 1.5rem;
}

.breadcrumb_list {
    column-gap: 0.75rem;
}

.breadcrumb_link {
    color: var(--text-color);
    font-size: var(--small-font-size);
}

/*=============== SHOP ===============*/
.total_products {
    margin: 2.5rem 0;
}

.total_products span {
    color: var(--first-color);
    font-weight: var(--weight-600);
}

.pagination {
    display: flex;
    column-gap: 0.625rem;
    margin-top: 2.75rem;
}

.pagination_link {
    display: inline-block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border-radius: 0.25rem;
    color: var(--title-color);
    font-size: var(--small-font-size);
    font-weight: var(--weight-700);
    transition: all 0.15s var(--transition);
}

.pagination_link.active,
.pagination_link:hover {
    background-color: var(--first-color);
    color: var(--body-color);
}

.pagination_link.icon {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

/*=============== DETAILS ===============*/
.details_container {
    grid-template-columns: 5.5fr 6.5fr;
}

.details_img {
    margin-bottom: 0.5rem;
}

.details_small-images {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 0.625rem;
}

.details_title {
    font-size: var(--h2-font-size);
}

.details_brand {
    font-size: var(--small-font-size);
    margin-block: 1rem;
}

.details_brand span {
    color: var(--first-color);
}

.details_price {
    border-top: 1px solid var(--border-color-alt);
    border-bottom: 1px solid var(--border-color-alt);
    padding-block: 1rem;
    column-gap: 1rem;
}

.details_price .new_price {
    font-size: var(--h2-font-size);
}

.details_price .old_price {
    font-size: var(--normal-font-size);
    font-weight: var(--weight-500);
}

.short_description {
    margin-block: 1rem 2rem;
}

.list_item,
.meta_list {
    font-size: var(--small-font-size);
    margin-bottom: 0.75rem;
}

.details_color,
.details_size {
    column-gap: 0.75rem;
}

.details_color {
    margin-block: 2rem 1.5rem;
}

.details_size {
    margin-block: 2.5rem;
}

.details_color-title,
.details_size-title {
    font-size: var(--small-font-size);
    font-weight: var(--weight-600);
}

.color_list,
.size_list {
    display: flex;
    column-gap: 0.25rem;
}

.color_link {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: block;
}

.size_link {
    border: 1px solid var(--border-color-alt);
    padding: 0.375rem 0.75rem 0.5rem;
    color: var(--text-color);
    font-size: var(--small-font-size);
}

.size_active {
    background-color: var(--second-color);
    color: var(--body-color);
}

.details_action {
    display: flex;
    column-gap: 0.375rem;
    margin-bottom: 3.25rem;
}

.quantity,
.details_action-btn {
    border: 1px solid var(--border-color-alt);
    font-size: var(--small-font-size);
}

.quantity {
    max-width: 80px;
    padding-block: 0.5rem;
    padding-inline: 1rem 0.5rem;
    border-radius: 0.25rem;
}

.details_action-btn {
    color: var(--text-color);
    line-height: 40px;
    padding-inline: 0.75rem;
}

.details_meta {
    border-top: 1px solid var(--border-color-alt);
    padding-top: 1rem;
}

/*=============== DETAILS INFO & REVIEWS  ===============*/
.detail_tabs {
    display: flex;
    column-gap: 1.75rem;
    margin-bottom: 3rem;
}

.detail_tab {
    font-family: var(--second-font);
    font-size: var(--large-font-size);
    font-weight: var(--weight-600);
    cursor: pointer;
}

.detail_tab.active-tab {
    color: var(--first-color);
}

.details_tab-content:not(.active-tab) {
    display: none;
}

.info_table tr th,
.info_table tr td {
    border: solid 1px var(--border-color-alt);
    padding: 0.625rem 1.25rem;
}

.info_table tr th {
    font-weight: var(--weight-500);
    text-align: left;
}

.info_table tr td {
    color: var(--text-color-light);
}

.review_container {
    padding-bottom: 3rem;
    row-gap: 1.25rem;
}

.review_single {
    border-bottom: 1px solid var(--border-color-alt);
    padding-bottom: 1.25rem;
    display: flex;
    align-items: flex-start;
    column-gap: 1.5rem;
}

.review_single:last-child {
    padding-bottom: 3rem;
}

.review_img {
    width: 70px;
    border-radius: 50%;
}

.review_title {
    font-size: var(--tiny-font-size);
}

.review_data {
    width: calc(100% - 94px);
}

.review_description {
    margin-bottom: 0.5rem;
}

.review_rating {
    color: hsl(42, 100%, 50%);
    margin-bottom: 0.25rem;
}

.review_rating,
.review_date {
    font-size: var(--small-font-size);
}

.review_form-title {
    font-size: var(--large-font-size);
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.rate_product {
    margin-bottom: 2rem;
}

/*=============== CART ===============*/
/* .table_container {
    overflow-x: auto;
} */

/* .table {
    table-layout: fixed;
    margin-bottom: 2rem;
} */

.table tr {
    border: 1px solid var(--border-color-alt);
}

.table tr:last-child {
    border-bottom: 1px solid var(--border-color-alt);
}

.table tr th:nth-child(1),
.table tr td:nth-child(1) {
    width: 216px;
}

.table tr th:nth-child(2),
.table tr td:nth-child(2) {
    width: 400px;
}

.table tr th:nth-child(3),
.table tr td:nth-child(3) {
    width: 108px;
}

.table tr th:nth-child(4),
.table tr td:nth-child(4) {
    width: 220px;
}

.table tr th:nth-child(5),
.table tr td:nth-child(5) {
    width: 200px;
}

.table tr th:nth-child(6),
.table tr td:nth-child(6) {
    width: 152px;
}

.table_img {
    width: 80px;
}

.table tr th,
.table tr td {
    padding: 0.5rem;
    text-align: center;
}

.table_title,
.table_description,
.table_price,
.table_subtotal,
.table_trash {
    font-size: var(--small-font-size);
}

.table_title {
    color: var(--first-color);
}

.table_description {
    max-width: 250px;
    margin-inline: auto;
}

.table_trash {
    color: var(--text-color-light);
}

.cart_actions {
    display: flex;
    justify-content: flex-end;
    gap: 0.75rem;
    margin-top: 1.5rem;
}

.divider {
    position: relative;
    text-align: center;
    margin-block: 3rem;
}

.divider::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    border-top: 2px solid var(--border-color-alt);
}

.divider i {
    color: var(--text-color-light);
    background: var(--body-color);
    font-size: 1.25rem;
    padding-inline: 1.25rem;
    position: relative;
    z-index: 10;
}

.cart_group {
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
}

.cart_section .section_title,
.cart_coupon .section_title,
.cart_total .section_title {
    font-size: var(--large-font-size);
    margin-bottom: 1rem;
}

.cart_coupon {
    margin-top: 3rem;
}

.coupon_form .form_group {
    align-items: center;
}

.cart_total {
    border: 1px solid var(--border-color-alt);
    border-radius: 0.25rem;
    padding: 1.75rem;
}

.cart_total-table {
    margin-bottom: 1rem;
}

.cart_total-table tr td {
    border: 1px solid var(--border-color-alt);
    padding: 0.75rem 0.5rem;
    width: 50%;
}

.cart_total-title {
    font-size: var(--small-font-size);
}

.cart_total-price {
    color: var(--first-color);
    font-weight: var(--weight-700);
}

.cart_total .btn {
    display: inline-flex;
}

/*=============== HEADER 2 ===============*/
.row {
    display: flex;
    flex-wrap: wrap;
}

.v-center {
    align-items: center;
}

.header2 {
    display: block;
    width: 100%;
    position: relative;
    z-index: 99;
    padding: 15px;
}

/* .header2 .item-left {
    flex: 0 0 17%;
} */

.header2 .logo a {
    color: #000;
    font-size: 30px;
    font-weight: 700;
}

.header2 .item-center {  
    flex: 100%;
}
/* .header2 .item-right {
    flex: 0 0 17%;
    display: flex;

} */

.header2 .item-right a {
    font-size: 16px;
    display: inline-block;
    margin-left: 10px;
    justify-content: flex-end;
    transform: 0.3s ease;
}

.header2 .menu > ul > li {
    display: inline-block;
    line-height: 50px;
    margin-left: 31px;
}

.menu-item-has-children i {
    margin-left: 5px;
    font-size: 10px;
}

.header2 .menu > ul > li > a {
    font-size: 15px;
    font-size: 500;
    color: #000;
    position: relative;
    transform: 0.3s ease;
}

.header2 .menu > ul > li .sub-menu {
    position: absolute;
    z-index: 500;
    background-color: #fff;
    box-shadow: -2px 2px 70px -25px rgba(0, 0, 0, 0.3);
    padding: 20px 30px;
    transition: all 0.5s ease;
    margin-top: 25px;
    opacity: 0;
    visibility: hidden;
}

@media(min-width: 992px) {
.header2 .menu > ul > li.menu-item-has-children:hover .sub-menu {
    margin-top: 0;
    visibility: visible;
    opacity: 1;
}
}

.header2 .menu > ul > li .sub-menu > ul > li {
    line-height: 1;
}

.header2 .menu > ul > li .sub-menu > ul > li > a {
    display: inline-block;
    padding: 10px 0;
    font-size: 15px;
    color: #555;
    transition: 0.3s ease;
}

.header2 .menu > ul > li .single-column-menu {
    min-width: 280px;
    max-width: 350px;
}

.header2 .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li {
    line-height: 1;
    display: block;
}

.header2 .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a {
    padding: 4px 0;
    display: inline-block;
    font-size: 15px;
    color: #555;
    transition: color 0.3s ease;
}

.header2 .menu > ul > li .sub-menu.mega-menu {
    /* left: 50%; */
    transform: translateX(-50%);
}


/* controls the width of the mega menu contents */
.header2 .menu > ul > li .sub-menu.mega-menu-column-4 {
    max-width: 1100px;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 15px;
}

.header2 .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item {
  flex:  25%;
  padding:0 15px ;
}

.header2 .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item .title {
    font-size: 16px;
    color: var(--second-color);
    font-weight: var(--weight-500);
    line-height: 1;
    padding: 10px 0;
    text-decoration: underline;
}

.header2 .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center .title {
    text-align: center;
}

.header2 .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img {
    max-width: 100%;
    width: 100%;
    vertical-align: middle;
    margin-top: 10px;
}

.header2 .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a:hover,
.header2 .menu > ul > li .sub-menu > ul > li > a:hover,
.header2 .item-right a:hover,
.header2 .menu > ul > li:hover > a {
color: var(--first-color);
}

.mobile-menu-head,
.mobile-menu-trigger {
    display: none;
}

/*=============== LOGIN & REGISTER ===============*/
.login-register_container {
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
}

.login,
.register {
    border: 1px solid var(--border-color-alt);
    padding: 2rem;
    border-radius: 0.5rem;
}


/* RESPONSIVENESS FOR HEADER2 */
@media (max-width: 991px) {
    .header2 .item-center {
        order: 3;
        flex: 0 0 100%;
    }

    .header2 .item-left,
    .header2 .item-right {
      flex: 0 0 auto;
    }

    .v-center {
        justify-content: space-between;
    }

    .mobile-menu-trigger {
        display: flex;
        height: 30px;
        width: 30px;
        margin-left: 15px;
        cursor: pointer;
        align-items: center;
        justify-content: center;
    }

    .header2 .mobile-menu-trigger span {
        display: block;
        height: 2px;
        background-color: #333;
        width: 24px;
        position: relative;
    }

    .header2 .mobile-menu-trigger span::before,
    .header2 .mobile-menu-trigger span::after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #333;
    }

    .header2 .mobile-menu-trigger span::before {
        top: -6px;
    }

    .header2 .mobile-menu-trigger span::after {
        top: 6px;
    }

    .header2 .item-right {
        align-items: center;
    }

    .header2 .menu {
        position: fixed;
        width: 320px;
        background-color: #fff;
        left: 0;
        top: 0;
        height: 100%;
        overflow: hidden;
        transform: translate(-100%);
        transition: all 0.5s ease;
        z-index: 1099;
    }

    .header2 .menu.active {
        transform: translate(0%);
    }

    .header2 .menu > ul > li {
        line-height: 1;
        margin: 0;
        display: block;
    }

    .header2 .menu > ul > li > a {
        line-height: 50px;
        height: 50px;
        padding: 0 50px 0 15px;
        display: block;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .header2 .menu > ul > li > a i {
        position: absolute;
        height: 50px;
        width: 50px;
        top: 0;
        right: 0;
        text-align: center;
        line-height: 50px;
        transform: rotate(-90deg);
    }

    .header2 .menu .mobile-menu-head {
        display: flex;
        height: 50px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 501;
        position: sticky;
        background-color: #fff;
        top: 0;
    }

    .header2 .menu .mobile-menu-head .go-back {
      height: 50px;
      width: 50px;
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      cursor: pointer;
      line-height: 50px;
      text-align: center;
      color: #000;
      font-size: 16px;
      display: none;
    }

    .header2 .menu .mobile-menu-head.active .go-back {
        display: block;
    }

    .header2 .menu .mobile-menu-head .current-menu-title {
        font-size: 15px;
        font-weight: 500;
        color: #000;
    }

    .header2 .menu .mobile-menu-close {
        height: 50px;
        width: 50px;
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;
        line-height: 50px;
        text-align: center;
        color: #000;
        font-size: 25px;
    }

    .header2 .menu .menu-main {
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }
    
    .header2 .menu > ul > li .sub-menu.mega-menu,
    .header2 .menu > ul > li .sub-menu {
        /* background-color: grey; */
        visibility: visible;
        opacity: 1;
        position: absolute;
        box-shadow: none;
        margin: 0;
        padding: 15px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
       padding-top: 65px;
       max-width: none;
       min-width: auto;
       display: none;
      transform: translateX(0%);
      overflow-y: auto;
    }

    .header2 .menu > ul > li .sub-menu.active {
        display: block;
    }

    @keyframes slideLeft {
        0% {
            opacity: 0;
            transform: translateX(100%);
        }
        100% {
            opacity: 1;
            transform: translateX(0%)
        }
    }

    @keyframes slideRight {
        0% {
            opacity: 1;
            transform: translateX(0%);
        }
        100% {
            opacity: 1;
            transform: translateX(100%)
        }
    }

    .header2 .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item img {
        margin-top: 0;
    }

    .header2 .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item.text-center:last-child 
    .title {
        margin-bottom:0px;
    }

    .header2 .menu > ul > li .sub-menu.mega-menu-column-4 > .list-item {
        flex: 0 0 100%;
        padding: 0px;
    }

    .header2 .menu > ul > li .sub-menu > ul > li > a,
    .header2 .menu > ul > li .sub-menu.mega-menu > .list-item > ul > li > a {
        display: block;
    }

    .header2 .menu > ul > li .sub-menu.mega-menu > .list-item > ul {
        margin-bottom: 15px;
    }

    .menu-overlay {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.5);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1098;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease;
    }

    .menu-overlay.active {
        visibility: visible;
        opacity: 1;
    }



}




